<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>set meetings</title>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="jquery-ui.multidatespicker.js"></script>
  <script src="call.js"></script>

  
</head>
<body>
			<h1>Welcome back <%=user.displayName%></h1>
			<p>
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>

			<h4 id="meetings">Meetings</h4>
			<% if (user.events.length) { %>
			</br>
				<% user.events.forEach(function(next) { %>
				<a href="event/find?id=<%= next.event_id %>" ><%=next.event_name%></a> </br>
			<% }); %>
			
			<% } %>
			 
			</br>
			</br>
			<input type="button" id="makeEvent" value="New Meeting">
</body>
</html>